@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* Base Styling */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


h1,
h2,
small {
  margin: 5px auto;
}

h1 {
  color: #ffa500;
  font-weight: 800;
  font-size: 24px;
}

h2 {
  font-weight: 700;
  font-size: 16px;
}

small {
  font-size: 10px;
}

small a {
  color: #777;
}

small a:hover {
  color: #ffa500;
}

.row img {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero Section */

.navigation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.navigation.active {
  left: 0%;
}

.banner {
  position: relative;
  width: 50%;
  height: 100%;
} 

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navLink {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navLink ul {
  position: relative;
  width: 100%;
}

.navLink ul li {
  position: relative;
  list-style: none;
}

.navLink ul li a {
  position: relative;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin: 5px 0;
  margin-left: 100px;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navLink ul li a:hover {
  color: #ffa500;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.toggle {
  position: relative;
  left: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.toggle.active {
  left: -200px;
}

.toggle::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #777;
  transform: translateY(-6px);
  transition: 0.5s;
}

.toggle::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #777;
  transform: translateY(6px);
  transition: 0.5s;
}

.toggle.active::before {
  transform: translateY(0px) rotate(45deg);
  background: #fff;
}

.toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
  background: #fff;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #ff1455;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1px;
}

/* Portfolio */

.row1,
.row2 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: auto;
}

.row .col {
  margin-top: 100px;
}

.row .col .btn {
  background: #ffa500;
  margin: 5px auto;
  padding: 5px 15px;
  font-size: 12px;
  justify-content: space-between;

}

/* Footer */

footer {
  bottom: 0;
  left: 0;
  padding: 20px 100px;
  max-height: 100vh;
  width: 100%;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}

footer.active {
  left: 100%;
}

.sci {
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
}

.sci li {
  list-style: none;
}

.sci li a {
  position: relative;
  margin-right: 20px;
  display: inline-block;
  opacity: 0.8;
}

.copyrightText {
  font-weight: 500;
  color: #777;
  letter-spacing: 1px;
}

/* Media Queries */

@media (max-width: 991px) {
  .sec {
    padding: 40px;
    flex-direction: column;
    justify-content: center;
  }

  header,
  footer {
    padding: 20px 40px;
  }

  footer {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    display: block;
  }

  .banner {
    display: none;
  }

  .navLink {
    width: 100%;
  }

  .toggle.active {
    left: -120px;
  }

  .navLink ul li a {
    font-size: 1.5em;
    margin-left: 50px;
  }

  /* Portfolio */
  .row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 70px 0;
}

.row .col {
    padding: 30px;
}
}